@import url('https://fonts.google.com/specimen/Lato?preview.text=fulufhelo%20tshilande');


/* Root pseudo-class */
:root {
    --primary-color: white; /* White for primary text on darker backgrounds */
    --secondary-color: #ccc; /* Light gray for secondary text */
    --accent1-color: #4a90e2; /* Blue for water theme */
    --accent2-color: #90caf9; /* Light blue for water theme */

    --heading-font: 'Arial', sans-serif; /* Arial font for headings */
    --paragraph-font: 'Arial', sans-serif; /* Arial font for paragraphs */

    --nav-background-color: blue; /* Semi-transparent white for navigation background */
    --nav-link-color: #fff; /* White for navigation links */
    --nav-hover-link-color: #f7f7f7; /* Light gray for hovered navigation links */
    --nav-hover-background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent black for navigation background on hover */
}




h1 {
    position: absolute
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}



/* editing paragraphs */
p{
    padding: 25px;
}


/* This will remove the underline of all links */
a {
    text-decoration: none;
  }


header{
    padding: 20px;
    background-color: var(--accent1-color);
       
}






.hero img {
    position: relative;
 display: block;
 width:100%;
 height: auto;
}

article {
    position: absolute;
}
article img { 
    position: absolute;
    float: right;
}