@import url('https://fonts.google.com/specimen/Lato?preview.text=fulufhelo%20tshilande');

:root{--primary-color: b8c0ff;
--secondary-color: c8b6ff;
--accent1-color:#bbd0ff;
--accent2-color:#e7c6ff;

--heading-font:'40px',Lato;
--paragraph-font:'14px', Lato;


--nav-background-color:blue;
--nav-link-color:steelblue;
--nav-hover-link-color:violet;
--nav-hover-background-color:blue;
}
body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--primary-color);

}

header{
    padding: 20px;
    background-color: var(--accent1-color);
}

p{
    padding: 25px;
}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a :visited{
    color: var(--nav-link-color);

}

nav a:hover {
    color:var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}


